head{
    color:#EDEDED;
}
body{   
    background-color:#040D12;
}
#title{
    color:#93B1A6;
   text-align: center;
    font-size: 30 px; 
}
.text{
    text-align: justify;
    font-size:50 px;
    color:#5C8374;
}
