head{
    color:#EDEDED;
}

body{   

    background-color:#EDEDED;
}
#title{
   color:#00ff0d;
   text-align: center;
   font-size: 50 px; 
}
#img{
    width:200px;
    margin:100px;
    heigth:500px;
    padding: 500px;
}
.section{
    background-color: blue;
}
